@font-face {
    font-family: cu;
    src: url('../this.OTF');
}

.me, .me2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 5;
    margin: 15px auto;
    font-weight: bold;
    font-size: 19px;
    font-family: cu;
    letter-spacing:3px;
}

.about-me, .about-me2 {
    text-align: center;
    margin-right: 40px;
    margin-left: 40px;
}